<div class="px-4 mt-5 text-center">
  <div class="container text-center">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th width="5%">Id</th>
          <th width="75%">Title</th>
          <th width="10%">Completed</th>
          <th width="5%"></th>
          <th width="5%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of AllTodo | slice: (page-1) * pageSize : page * pageSize">
          <td>{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.completed }}</td>
          <td>
            <button routerLink="/todo/update/{{todo.id}}" class="btn btn-outline-primary"><i
                class="fa-solid fa-pen"></i></button>
          </td>
          <td>
            <button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-center px-4 mt-4" [collectionSize]="AllTodo.length/2" [(page)]="page"
      [boundaryLinks]="true" [rotate]="true"></ngb-pagination>
  </div>
</div>
